{% extends "base.html" %}

{% block content %}

  <!-- Header -->
  <header class="bg-dark py-5">
    <div class="container px-4 px-lg-5 my-5">
      <div class="text-center text-white">
        <h1 class="display-4 fw-bolder">About Us...</h1>
        <p class="lead fw-normal text-white-50 mb-0">
            Welcome to Codemy Shop
        </p>
      </div>
    </div>
  </header>

  <div class="container">
    <div class="row">
        <center>
            <div class="col-8">
                <p align="justify">
                <br>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed scelerisque arcu nec nisl eleifend, a tempus justo ultrices. Praesent et porta massa. In pretium justo eros, quis tempor justo condimentum sed. Vestibulum nec lobortis massa, at elementum massa. Quisque eu consequat urna, vel eleifend leo. Donec pretium orci in mi ullamcorper vulputate. Vivamus ut suscipit lectus. Aliquam libero nulla, eleifend sed imperdiet eget, gravida ac erat. Suspendisse quis odio pellentesque, eleifend ipsum eget, lacinia magna. Cras eleifend libero a nulla efficitur, et ullamcorper purus fermentum.</br>
                <br>Vestibulum a imperdiet ipsum, eget ultrices nisi. Sed imperdiet, velit non aliquam lobortis, arcu justo tristique felis, a pretium sem nisi sit amet nisl. Sed lacus ligula, consequat in sollicitudin at, elementum eget ipsum. Mauris auctor, metus ac dictum dapibus, magna massa ullamcorper justo, eu finibus nisi urna et quam. Phasellus faucibus, nisi nec placerat auctor, felis mauris malesuada urna, aliquet viverra tellus sem a elit. Vestibulum ac turpis auctor, sagittis nisl quis, consequat tortor. Integer pharetra leo eu est bibendum dignissim. Curabitur dictum dui nibh, nec lobortis lacus cursus in. Praesent et condimentum erat. Mauris enim arcu, imperdiet sit amet dignissim sit amet, volutpat eget ante. Cras tellus lectus, porttitor blandit velit sed, efficitur pretium mi. Cras viverra sem non mauris ornare, ac ornare lorem molestie.</br>
                <br>Integer mollis ut ante ut pretium. Praesent finibus metus arcu, vitae porttitor libero elementum ac. Duis commodo nibh eget pulvinar porttitor. Proin at placerat augue. Etiam sed felis non augue vulputate cursus a nec felis. Vivamus commodo viverra mi, ac vulputate purus pretium in. Praesent cursus tortor arcu, sed pharetra lorem mollis ac. Donec sodales enim id tincidunt cursus. Aliquam arcu est, porttitor non ultrices non, ultrices sit amet sapien. Nulla arcu augue, feugiat maximus dignissim in, commodo ut mi. Nulla nisi orci, aliquet a quam eu, sollicitudin efficitur quam. Nunc eget neque quis sapien bibendum viverra.</br><p>
            </div>
            <center>
        </div>
  </div>

{% endblock %}